@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Salsa&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 1.5s;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.quill > .ql-toolbar:first-child {
  display: none !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;            /* Footer height */
}