.logo {
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
  
    cursor: pointer;
    color: #2E7D32;

    border: 2px solid #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}