.logo {
    font-family: 'Salsa';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-decoration: none;
    cursor: pointer;
    color: #2E7D32;
    text-shadow: 2px 3px 2px white;
}