@media (max-width: 991px) {
  .popup {
    display: none;
  }
  
}
@media(min-width: 991px) {
    .popupMobile{
        display: none;
    }
}

.appbar {
  background: "white";
  box-Shadow: "none";
  borderBottom: "1px solid #E7EBF0";
  color: 'red' !important;
}
