



@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome / 4.4.0/css/font-awesome.min.css");


.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lottie {
    
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 24;
    margin-top: 40px;
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
    font-family: "Montserrat", sans-serif;

}


.card:hover {

    color: rgb(21, 7, 7);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.card-header {
    color: hsl(233, 13%, 49%);
    font-size: 25px;
    font-weight: 400;
    font-style: bold;

}


.button {
    border-radius: 1.5rem;
    border: 2px solid #ccc;
    background: none;
    color: black;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
}



